In [1]:
# from mysql.connector import connect, Error
import sqlalchemy as db
from apt_valuation import get_clean_df
import pandas as pd

In [7]:
engine = db.create_engine("mysql+mysqlconnector://remote_user:pyth0nproj@46.101.184.189:3306/pythonproj")
print(engine)
conn = engine.connect()
print(conn)
result = conn.execute("SHOW TABLES IN pythonproj").fetchall()
print(result)

Engine(mysql+mysqlconnector://remote_user:***@46.101.184.189:3306/pythonproj)
<sqlalchemy.engine.base.Connection object at 0x000001D3BC6E7348>
[('app_tbl',), ('backup_tbl',), ('test_tbl',), ('users',)]

In [3]:
offers = pd.read_excel("database/scraped_data_rental.xlsx")
offers_clean = get_clean_df(offers)

In [5]:
offers_clean.to_sql('backup_tbl', conn, if_exists='append')

In [12]:
result = conn.execute("SHOW TABLES IN pythonproj").fetchall()
print(result)

read_test = pd.read_sql('app_tbl', conn)
print(read_test.shape)

[('app_tbl',), ('backup_tbl',), ('test_tbl',), ('users',)]

NoSuchTableError: `app_tbl`

In [1]:
import database as dtb

In [3]:
df = dtb.load_df()

print(df.shape)

(853, 22)
mysql+mysqlconnector://remote_user:pyth0nproj@46.101.184.189:3306/pythonproj

app_tbl
<class 'str'>